@viewport{zoom: 1.0;width: extend-to-zoom;}
@-ms-viewport{width: extend-to-zoom;}
img{border: 2px solid #000000;margin-top:4.62em;max-width:765px;}
body{text-align:center;color:#0100a1;background-color:#ffffff;font-family: 'Roboto', sans-serif; 'Arial';}
article{margin-top:4.62em;}
.L{float:left;margin-top:-.75em;}
.L2{float:left;margin-bottom:-7.778em;margin-left:1.28em;}
.L3{float:left;margin-top:15.26em;margin-left:-0.5em;float:left;}
.R{float:right;}
.R2{float:right;margin-top:.42em;margin-right:1.625em;}
.L4{float:left;margin-left:-.86em;}
.M{float:center;margin-left:-.15em;}
.AU{margin-top:.0em;}
.AUAU{margin-top:7em;}
.AUAUAU{margin-top:1.62em;}
.AD{margin-top:8em;}
.ADM{margin-top:9em;}
.AI{margin-top:4em;}
.AIM{margin-top:2em;}
.AO{margin-top:4.62em;}
.A3{margin-top:.24em;}
.A2{margin-top:.01em;}
.A1{margin-top:.16em;}
.AMFA_IP{margin-top:1.4em;}
.AMFA_ID{margin-top:2.8em;}
.AMFA_RTZ{margin-top:2.8em;}
.AMFA_RTZP{margin-top:1.0em;}
.AMFA_RTZH{margin-top:1.3em;}
.AMFA_RTZU{margin-bottom:-1.8em;margin-top:1.67em;}
.wind{width: 100%;max-width: 942px;}
.mail{width: 100%;max-width: 600px;margin-top:2em;}
.wind2{width: 100%;max-width: 930px;margin-top:0em;}
.mail2{width: 100%;max-width: 567px;margin-top:2em;}
p160{-webkit-box-sizing: inherit;-moz-box-sizing: inherit;-ms-box-sizing: inherit;-o-box-sizing: inherit;box-sizing: inherit; background-repeat: repeat; background: linear-gradient(90deg, #0100a1, #0100a1, #0100a1, #ff0000, #0100a1, #0100a1,#0100a1); background-size: 300%; animation: HG 26s linear ; -webkit-background-clip: text; -webkit-text-fill-color: rgba(255, 255, 255, 0); animation-timing-function: cubic-bezier(1, 1, 1, 1); }
p161{-webkit-box-sizing: inherit;-moz-box-sizing: inherit;-ms-box-sizing: inherit;-o-box-sizing: inherit;box-sizing: inherit; background-repeat: repeat; background: linear-gradient(90deg, #0100a1, #0100a1, #0100a1, #ff0000, #0100a1, #0100a1, #0100a1); background-size: 300%; animation: HG 26s linear ; -webkit-background-clip: text; -webkit-text-fill-color: rgba(255, 255, 255, 0); animation-timing-function: cubic-bezier(1, 1, 1, 1);}
h1{margin-bottom:-1.85em;margin-top:.75em;font-weight:300;font-size:1.46em;line-height:1.44em;word-spacing:.03em;letter-spacing:.078em; }
h2{margin-bottom:-1.85em;margin-top:.97em;font-weight:300;font-size:1.44em;line-height:1.44em;word-spacing:.03em;letter-spacing:.078em;}
h3{margin:0em;font-weight:400;font-size:14pt;line-height:5.86em;word-spacing:.03em;letter-spacing:.078em;margin-bottom:-1.34em;}
h4{margin:0em;font-weight:400;font-size:13pt;line-height:1.44em;word-spacing:.03em;letter-spacing:.078em;margin-bottom:-1.5em;}
h6{margin:0em;font-weight:300;font-size:11pt;line-height:1.42em;word-spacing:.03em;letter-spacing:.18em;color:#292aff;}
p7{margin:0em;font-weight:300;font-size:10pt;line-height:1.42em;word-spacing:.02em;letter-spacing:.08em;color:#292aff;}
p8{margin:0em;font-weight:300;color:#0e00ff;font-size:14pt;line-height:1.42em;word-spacing:.03em;letter-spacing:.18em;}
p87{margin:0em;font-weight:400;font-size:8pt;line-height:1.2em;word-spacing:.03em;letter-spacing:.078em;color:#9c9c9c;}
p88{margin:0em;font-weight:300;font-size:7pt;line-height:1.2pt;word-spacing:.03em;letter-spacing:.078em;color:#292aff;}
p9{margin:0em; font-size: 14pt; font-weight:400; word-spacing:.03em; letter-spacing: .18em; -webkit-box-sizing: inherit;-moz-box-sizing: inherit;-ms-box-sizing: inherit;-o-box-sizing: inherit;box-sizing: inherit; background-repeat: repeat; background: linear-gradient(90deg, #0e00ff, #0e00ff, #0e00ff, #ff0000, #0e00ff, #0e00ff, #0e00ff); background-size: 300%; animation: dankeschoen 20s linear ; -webkit-background-clip: text; -webkit-text-fill-color: rgba(255, 255, 255, 0); animation-timing-function: cubic-bezier(1, 0, 0, 1);}
p93{margin:0em; font-size: 14pt; font-weight:300; word-spacing:.03em; letter-spacing: .18em;color:#292aff;}
p10{margin:0em;font-weight:300;font-size:11pt;line-height:1.2pt;word-spacing:.03em;letter-spacing:.078em;color:#292aff;}
p10_github{margin:0em;font-weight:400;font-size:11pt;line-height:1.2pt;word-spacing:.03em;letter-spacing:.078em;color:#551a8b;}
p10_github_404{margin:0em;font-weight:400;font-size:11pt;line-height:1.2pt;word-spacing:.03em;letter-spacing:.078em;color:#5e6000;}
p10_hoststar{margin:0em;font-weight:400;font-size:11pt;line-height:1.2pt;word-spacing:.03em;letter-spacing:.078em;color:#551a8b;}
p10_mihal{margin:0em;font-weight:400;font-size:11pt;line-height:1.2pt;word-spacing:.03em;letter-spacing:.078em;color:#046200;}
p10_pits{margin:0em;font-weight:400;font-size:11pt;line-height:1.2pt;word-spacing:.03em;letter-spacing:.078em;color:#046200;}
p12{font-weight:300;font-size:9pt;float:right;margin-right:.5em;color:#989ac4;pointer-events: none;}
p13{font-weight:300;font-size:10pt;color:#ff4fcd;}
p14{font-weight:300;font-size:10pt;color:#ff39ba;}
p15{font-weight:300;font-size:10pt;color:#ff3600;}
p16{font-weight:300;font-size:10pt;color:#ff3600;}
p17{font-weight:300;font-size:10pt;color:#ff65fe;}
p36{font-weight:300;font-size:7pt;color:#ff1d6a;}
p37{font-weight:300;font-size:7pt;color:#ff435b;}
p77{font-weight:300;font-size:11pt;color:#ff35a6;}
p78{font-weight:300;font-size:11pt;color:#fc246e;}
p79{font-weight:300;font-size:11pt;color:#fc1a36;}
p80{font-weight:300;font-size:11pt;color:#ff6f00;}
p81{font-weight:300;font-size:11pt;color:#ff0000;}
p18{font-weight:300;font-size:8pt;color:#606060;margin-top:-4.52em;margin-left:.346em;float:left; pointer-events: none;}
p19{font-weight:300;font-size:9pt;float:right;margin-right:.5em;color:#989ac4; pointer-events: none;margin-bottom:.0em;margin-top:.0em;margin-left:.75em;} 
p20{font-weight:300;font-size:6pt;float:right;margin-right:.5em;color:#989ac4; pointer-events: none;margin-bottom:.0em;margin-top:.15em;margin-left:5em;} 
p21{font-weight:300;font-size:9pt;float:right;margin-right:.5em;color:#989ac4; pointer-events: none;margin-bottom:.0em;margin-top:.0em;}
p38{font-weight:300;font-size:9pt;float:right;margin-right:.5em;color:#989ac4; pointer-events: none;pointer-events: none;margin-bottom:.0em;}
p22{font-weight:300;font-size:9pt;float:right;margin-right:.5em;color:#989ac4; pointer-events: none;margin-top:-.25em;margin-left:5em;}
p39{font-weight:300;font-size:9pt;float:right;margin-right:.5em;color:#989ac4; pointer-events: none;margin-bottom:.0em;margin-top:.0em;margin-left:5em;}
p23{font-weight:300;font-size:13pt;color:#606060;margin-top:-2.75em;margin-right:.232em;float:right; pointer-events: none;}
p24{font-weight:300;font-size:9pt;color:#008800;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p46{font-weight:300;font-size:9pt;color:#6a6976;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p25{font-weight:300;font-size:9pt;color:#008800;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p26{font-weight:300;font-size:9pt;color:#dfdfdf;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p27{font-weight:300;font-size:9pt;color:#008800;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p28{font-weight:300;font-size:9pt;color:#008800;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p29{font-weight:300;font-size:9pt;color:#dfdfdf;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p30{font-weight:300;font-size:9pt;color:#008800;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p31{font-weight:300;font-size:1.4em;color:#80b900;}
p33{font-weight:300;font-size:9pt;color:#5d1313;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p34{font-weight:300;font-size:9pt;color:#6a6976;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p35{font-weight:300;font-size:9pt;color:#00ff00;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p55{font-weight:300;font-size:9pt;color:#00ff00;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
p56{font-weight:300;font-size:9pt;color:#00ff00;margin-top:-1.5em;margin-right:-.25em;float:right; pointer-events: none;}
@keyframes HG {100% { background-position: -300%;} 0% { background-position: 300%;}} 
@keyframes dankeschoen {100% { background-position: -300%;} 0% { background-position: 400%;}}
.button44 {background-image: linear-gradient(to top, #5e0000 60%, #ce0000 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:5.3em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;margin-right:.375em;opacity:1}
.button2 {background-image: linear-gradient(to top, #403d72 60%, #847fc9 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:5.3em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button3 {background-image: linear-gradient(to top, #2d2d09 60%, #767600 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:5.3em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button4 {background-color: #00bcff;border: 1;border-color: #7f0000;color: #ff0000;text-align: center;text-decoration: none;padding: 5px .0em;width:11.5em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.1em;border-radius: 13px;margin-left:1.25em;margin-right:.375em;opacity:1} 
.button48 {background-image: linear-gradient(to top, #0055ff 60%, #00acff 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:11.5em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:-.125em;float:right;word-spacing:.03em;letter-spacing:.1em;border-radius: 13px;margin-left:1.25em;margin-right:.375em;opacity:1}  
.button4g {background-image: linear-gradient(to top, #0055ff 60%, #00acff 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:11.5em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.5em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;margin-right:.375em;opacity:1}
.button5 {background-image: linear-gradient(to top, #2d2d09 60%, #767600 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:13.12em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;margin-left:.25em;opacity:1}
.button51 {background-image: linear-gradient(to top, #5e0000 60%, #ce0000 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:13.12em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;margin-left:.25em;opacity:1}
.button7 {background-image: linear-gradient(to top, #5e0000 60%, #ce0000 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:12.2em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button8 {background-image: linear-gradient(to top, #2d2d09 60%, #767600 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:12.0em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button7g {background-image: linear-gradient(to top, #5e0000 60%, #ce0000 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:9.78em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button8g {background-image: linear-gradient(to top, #2d2d09 60%, #767600 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:9.58em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button7d {background-image: linear-gradient(to top, #5e0000 60%, #ce0000 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:9.8em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button8d {background-image: linear-gradient(to top, #2d2d09 60%, #767600 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:9.6em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button9 {background-image: linear-gradient(to top, #5e0000 60%, #ce0000 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:12.2em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.75em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button10 {background-image: linear-gradient(to top, #2d2d09 60%, #767600 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:12.0em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.75em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button11 {background-color: #d7d600;border: 1;border-color: #99991d;color: #000000;text-align: center;text-decoration: none;padding: 5px .0em;width:11.5em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button115 {background-color: #d7d600;border: 1;border-color: #99991d;color: #000000;text-align: center;text-decoration: none;padding: 5px .0em;width:11.5em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button116 {background-color: #d7d600;border: 1;border-color: #99991d;color: #000000;text-align: center;text-decoration: none;padding: 5px .0em;width:13.01em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;margin-top:-.5em;margin-bottom:.375em;opacity:1}
.button111 {background-image: linear-gradient(to top, #2d2d09 60%, #767600 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:13.12em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button112 {background-image: linear-gradient(to top, #5e0000 60%, #ce0000 100%);border: 1;border-color: #99991d;color: #ffffff;text-align: center;text-decoration: none;padding: 5px .0em;width:13.12em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button114 {background-color: #d7d600;border: 1;border-color: #99991d;color: #000000;text-align: center;text-decoration: none;padding: 5px .0em;width:10.4em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;float:right;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button42 {background-image: linear-gradient(to top, #cdcdcd 50%, #ffffff 100%);border: 1;border-color: #acd3d6;color: #0100a1;text-align: center;text-decoration: none;padding: .2em .3em;width:6.3em;display: inline-block;font-size: 12px;cursor: pointer;margin-bottom:.25em;margin-top:.25em;word-spacing:.03em;letter-spacing:.10em;border-radius: 13px;opacity:1}
.button32 {background-image: linear-gradient(to top, #e2e2e2 60%, #f2f2f2 100%);border: 0;border-color: #acd3d6;color:#606060;text-align: center;text-decoration: none;padding: 12px 22px;display: inline-block;font-size: 12px;cursor: pointer;word-spacing:.03em;letter-spacing:.10em;float:right;margin-top:-4.2em;border-radius: 8px;opacity:.7}
.button34 {background-image: linear-gradient(to top, #e2e2e2 60%, #f2f2f2 100%);border: 0;border-color: #acd3d6;color:#606060;text-align: center;text-decoration: none;padding: 12px 22px;display: inline-block;font-size: 12px;cursor: pointer;word-spacing:.03em;letter-spacing:.10em;float:left;margin-top:-4.2em;border-radius: 8px;opacity:.7} 
.button24:active { background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button25:active {  background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button54:active {  background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button56:active {  background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button44:active {  background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button1:active { background-image: linear-gradient(to top, #cdcdcd 60%, #ffffff 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button2:active { background-image: linear-gradient(to top, #5a569c 60%, #9a94ff 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button3:active { background-image: linear-gradient(to top, #49490e 60%, #848415 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button4:active { background-image: linear-gradient(to top, #ff0000 60%, #ff7d7d 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button48:active { background-image: linear-gradient(to top, #0174ff 60%, #2fbbff 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button4g:active { background-image: linear-gradient(to top, #0174ff 60%, #2fbbff 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button4f:active { background-image: linear-gradient(to top, #ff0000 60%, #ff7d7d 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button4u:active { background-image: linear-gradient(to top, #ff0000 60%, #ff7d7d 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button5:active {  background-image: linear-gradient(to top, #49490e 60%, #848415 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button51:active {  background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button7:active {  background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button8:active { background-image: linear-gradient(to top, #49490e 60%, #848415 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button7g:active {  background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button8g:active { background-image: linear-gradient(to top, #49490e 60%, #848415 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button7d:active { background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button8d:active { background-image: linear-gradient(to top, #49490e 60%, #848415 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button9:active {  background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button10:active { background-image: linear-gradient(to top, #49490e 60%, #848415 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button11:active { background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button111:active { background-image: linear-gradient(to top, #49490e 60%, #848415 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button112:active { background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button114:active { background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button117:active { background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button115:active { background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button116:active { background-image: linear-gradient(to top, #9b0000 60%, #f63232 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button42:active { background-image: linear-gradient(to top, #e5e5e5 60%, #ffffff 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;}
.button32:active { background-image: linear-gradient(to top, #d5ffb7 60%, #e4ffd1 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;color:#1b4100;border: 1;}
.button34:active { background-image: linear-gradient(to top, #d5ffb7 60%, #e4ffd1 100%);box-shadow: 0px 0px 3px 2px #f8ff89;border-color: #99991d;color:#1b4100;border: 1;}
a, a:link, a:visited { text-decoration: none;} 




























































